<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frontend Data</title>
  <link rel="stylesheet" href="style.css">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

  <div id="app" :class="loaded ? 'loaded' : ''">

    <div id="map" style="width: 100vw; height: calc(100vh - 4rem); margin-top: 4rem;"></div>

    <div id="genre">
      <h1>Origin of OBA Books per City</h1>

      <div class="hide input-holder">
        <p >Worldwide: <span>{{data.amount}} books</span></p>
        <label for="genrechoice">Choose genre:</label>
        <select @change="changeFilter" name="genrechoice" id="">
          <option value="all">All genres</option>
          <option v-for="genre in data.genres" :value="genre">{{genre}}</option>
        </select>

      </div>

    </div>

    <div class="metadata-holder">

      <div class="city" v-if="city.name && loaded">

        <button @click="city.name = ''" class="close">close</button>
        <h2>{{city.name}}</h2>
        <ul class="city-info">
          <li>Total books: <span>{{ city.amount }}</span></li>
        </ul>

        <div class="chart-holder">

          <div class="pie-holder">
            <h3>Book ratio relative to rest of the world:</h3>
            <pie-chart :id="'totalChart'" :data="[{title: city.name, total: city.amount}, {title: 'Rest of the world', total: data.amount - city.amount}]" />
          </div>

          <div class="pie-holder">
            <h3>Publisher ratio in {{city.name}}:</h3>
            <pie-chart :id="'publisherChart'" :data="city.publishers" />
          </div>

        </div>

      </div>

      <div class="explanation" v-if="loaded && !city.name">
        <h2>Click on any bubble to see the city name and total amount of books from there</h2>
      </div>

      <loader v-if="!loaded" :text="'Loading data...'"></loader>

    </div>



  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
  <script src="components.js"></script>
  <script src="visualization.js"></script>


</body>

</html>
