* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
circle {
  opacity: 0.5;
  stroke-width: 0;
  cursor: pointer;
  transition: 0.5s fill, 0.5s stroke-width;
}
circle:hover {
  opacity: 1;
  stroke-width: 18;
}
